.navbar{
}
body{
    background-color: #D0D0D0;
    color: #777777;
}
#about_sys{

}
.padding{
    padding-top: 50px;
}

p{
    margin-top: 10px;
    color: #777777;
}

.bg-footer{
    background-color: black;
}